<!-- Banner Section Start -->
<div id="section-{{ section.id }}" class="section pb-100px pt-100px">
  <div class="container{% if section.settings.fullwidth_on %}-fluid{% endif %}">
    <!-- Banners Start -->
    <div class="row">
      {%- for block in section.blocks -%}{%- case block.type -%}
      {%- when 'banner' -%}{%- assign bset = block.settings -%}
      <!-- Banner Start -->
      <div class="col-lg-{{ bset.ban_col_lg }} col-md-{{ bset.ban_col }} col-12 mb-md-30px mb-lm-30px block_{{ block.id }}" data-aos="fade-up" data-aos-delay="200">
        <a href="{{ bset.btn1_url }}" class="banner">
          {%- if bset.img1 -%}
          <img class="lazyload" src="{{ bset.img1 | img_url: 'original' }}" alt="{{ image.alt }}">              
          {%- else -%}
          <img class="lazyload" src="https://via.placeholder.com/570x290" alt="{{ image.alt }}">
          {%- endif -%}
          <div class="info justify-content-{{ bset.banner_content_alingment }}">
            <div class="content align-self-center">
              {%- if bset.t2 != '' -%}
              <h3 class="title">
                {{ bset.t2 }}
              </h3>
              {%- endif -%}
              {%- if bset.t1 != '' -%}
              <p>{{ bset.t1 }}</p>
              {%- endif -%}
            </div>
          </div>
        </a>
        {% style %}
        .block_{{ block.id }} .banner .info .content .title {
        color: {{ bset.t1_color }};
        }
        .block_{{ block.id }} .banner .info .content p {
        color: {{ bset.st_color }};
        }
        {% endstyle %}
      </div>
      <!-- Banner End -->
	  {%- endcase -%}{%- endfor -%}
    </div>
    <!-- Banners End -->
  </div>
</div>
<!-- Banner Section End -->

{%- render 'section-style' -%}


{% schema %}
  {
    "name": "Banner Grid",
    "settings": [			
			{
                "type": "header",
                "content": "Banner Width Control"
            },
  			{
              "type": "checkbox",
              "id": "fullwidth_on",
              "label": "Full Width Enable",
              "default": false,
              "info": "If you want Full Width click checkbox"
          	}
            
		],
	"blocks":[
	   {
          "type": "banner",
          "name": "Banner",
          "settings": [
			  {
                "type": "select",
                "id": "ban_col_lg",
                "label": "Select Column LG",
                "options":[
                      {
                          "label": "1",
                          "value": "1"
                      },
                      {
                          "label": "2",
                          "value": "2"
                      },
                      {
                          "label": "3",
                          "value": "3"
                      },
                      {
                          "label": "4",
                          "value": "4"
                      },
					  {
                          "label": "5",
                          "value": "5"
                      },
					  {
                          "label": "6",
                          "value": "6"
                      },
                      {
                          "label": "7",
                          "value": "7"
                      },
                      {
                          "label": "8",
                          "value": "8"
                      },
                      {
                          "label": "9",
                          "value": "9"
                      },
					  {
                          "label": "10",
                          "value": "10"
                      },
					  {
                          "label": "11",
                          "value": "11"
                      },
					  {
                          "label": "12",
                          "value": "12"
                      }
                  ],
                  "default": "6"
              },
              {
                "type": "select",
                "id": "ban_col",
                "label": "Select Column MD",
                "options":[
                      {
                          "label": "1",
                          "value": "1"
                      },
                      {
                          "label": "2",
                          "value": "2"
                      },
                      {
                          "label": "3",
                          "value": "3"
                      },
                      {
                          "label": "4",
                          "value": "4"
                      },
					  {
                          "label": "5",
                          "value": "5"
                      },
					  {
                          "label": "6",
                          "value": "6"
                      },
                      {
                          "label": "7",
                          "value": "7"
                      },
                      {
                          "label": "8",
                          "value": "8"
                      },
                      {
                          "label": "9",
                          "value": "9"
                      },
					  {
                          "label": "10",
                          "value": "10"
                      },
					  {
                          "label": "11",
                          "value": "11"
                      },
					  {
                          "label": "12",
                          "value": "12"
                      }
                  ],
                  "default": "6"
              },
			  {
                "type": "select",
                "id": "banner_content_alingment",
                "label": "Banner Content Alingment",
                "options":[
                      {
                          "label": "Left",
                          "value": "start"
                      },
                      {
                          "label": "Right",
                          "value": "end"
                      },
                      {
                          "label": "Center",
                          "value": "center"
                      }
                  ],
                  "default": "end"
              },
              {
                  "type": "image_picker",
                  "id": "img1",
                  "label": "Image"
              },
			  {
                  "type": "text",
                  "id": "t2",
                  "label": "Title",
                  "default": "Sale Furniture <br> For Summer"
              },
              {
                  "type": "text",
                  "id": "t1",
                  "label": "Sub Title",
                  "default": "Great Discounts Here"
              },
              {
                  "type": "url",
                  "id": "btn1_url",
                  "label": "URL",
                  "default": "\/collections\/all"
              },
              {
                  "type": "color",
                  "id": "t1_color",
                  "label": "Title Color",
                  "default": "#212121"
              },
			  {
                  "type": "color",
                  "id": "st_color",
                  "label": "Sub Title Color",
                  "default": "#474747"
              }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 100
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 65
			},
			{
			  "type": "header",
			  "content": "Tablet Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 80
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 45
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 50
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 300,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 30
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Banner Grid",
		  "category": "2. Banner",
		  "blocks":[
				{
					"type": "banner"
				},
				{
					"type": "banner"
				}
			]
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}