<!-- Start Company Logo Section -->
<div class="company-logo-section pt-100px pb-100px" id="section-{{ section.id }}">
  <div class="company-logo-wrapper" data-aos="fade-up" data-aos-delay="0">
    <div class="container{% if section.settings.fullwidth_on %}-fluid{%endif%}">
      <div class="row">
        <div class="col-12">
          <div class="company-logo-slider slider-nav-style-1">
            <!-- Slider main container -->
            <div class="swiper-container company-logo-slider">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                {% for block in section.blocks %} 
                {%- case block.type -%}
                {%- when 'brand_logo' -%}
                <!-- Start Company Logo Single Item -->
                <div class="company-logo-single-item swiper-slide">
                  <div class="image">
                    <a href="{{ block.settings.slider_button_url }}"><img src="{% if block.settings.brand_logo_img %}{{ block.settings.brand_logo_img | img_url: 'master' }}
                              {% else %}https://via.placeholder.com/103x67
                              {% endif %}" class="lazyload img-fluid" alt=""></a>
                  </div>
                </div>
                <!-- End Company Logo Single Item -->
                {%- endcase -%}
                {% endfor %}
              </div>
            </div>
            <!-- Add Arrows -->
            <div class="swiper-buttons">
              <div class="swiper-button-next"></div>
              <div class="swiper-button-prev"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Company Logo Section -->



{%- style -%}
  #section-{{ section.id }}{
    {%- for block in section.blocks -%}
    {%- case block.type -%}
    {%- when 'section_margin' -%}
    margin-top: {{ block.settings.section_margin_top }}px;
    margin-bottom: {{ block.settings.section_margin_bottom }}px;
    {%- when 'section_padding' -%}
    padding-top: {{ block.settings.section_padding_top }}px;
    padding-bottom: {{ block.settings.section_padding_bottom }}px;
    {%- when 'section_background' -%}    
    background: {{ block.settings.section_bg_color }} 
      {%- if block.settings.section_bg_image -%}url("{{ block.settings.section_bg_image | img_url: 'master' }}"){%- endif -%} no-repeat scroll center center / cover;
    {%- endcase -%}
    {%- endfor -%}
  }
  @media (min-width: 768px) and (max-width: 991px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {% case block.type %}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_md }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_md }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_md }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_md }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }
  @media (max-width: 767px) {
    #section-{{ section.id }}{
      {%- for block in section.blocks -%}
      {%- case block.type -%}
      {%- when 'section_margin' -%}
      margin-top: {{ block.settings.section_margin_top_xs }}px;
      margin-bottom: {{ block.settings.section_margin_bottom_xs }}px;
      {%- when 'section_padding' -%}
      padding-top: {{ block.settings.section_padding_top_xs }}px;
      padding-bottom: {{ block.settings.section_padding_bottom_xs }}px;
      {%- endcase -%}
      {%- endfor -%}
    }
  }

  .single_brand_logo {
      margin: 15px;
      text-align: center;
  }

{%- endstyle -%}

<script>
  
  /*********************************************
     *   Company Logo Slider Active - 7 Grid Single Rows
     **********************************************/
    var companyLogoSlider = new Swiper('.company-logo-slider.swiper-container', {
        slidesPerView: {{ section.settings.brand_logo_column }},
        speed: 1500,
        loop: true,
        autoplay: {
            delay: 2000,
            disableOnInteraction: false,
        },
        // Navigation arrows
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        breakpoints: {

            0: {
                slidesPerView: 2,
            },
            480: {
                slidesPerView: 2,
            },
            768: {
                slidesPerView: 3,
            },
            992: {
                slidesPerView: 4,
            },
            1200: {
                slidesPerView: {{ section.settings.brand_logo_column }},
            },
        }
    });


</script>

{% schema %}
  {
    "name": "Brand Logo",
    "settings": [
		{
            "type": "checkbox",
            "id": "fullwidth_on",
            "label": "Full Width Enable",
            "default": false,
            "info": "If you want Full Width click checkbox"
        },
		{
          "type": "text",
          "id": "section_title",
          "label": "Section Title",
          "default": "Shop by hot brand"
      	},
        {
          "type":      "range",
          "id":        "brand_logo_column",
          "min":       4,
          "max":        10,
          "step":       1,
          "label":     "Slide Category Column",
          "default":   5
        }
	],
	"blocks":[
		{
          "type": "brand_logo",
          "name": "Brand Logo",
          "settings": [
              {
                  "type": "image_picker",
                  "id": "brand_logo_img",
                  "label": "Brand Logo Image",
                  "info": "Recommended Size: 103x67px"
              },
              {
                  "type": "url",
                  "id": "slider_button_url",
                  "label": "Button URL"
              }
          ]
       },
	   {
          "type": "section_margin",
          "name": "Section Margin",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablat Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_margin_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_margin_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Margin Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_padding",
          "name": "Section Padding",
		  "limit": 1,
          "settings": [
            {
			  "type": "header",
			  "content": "Large/Desktop Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Tablat Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_md",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "header",
			  "content": "Mobile Device"
			},
			{
			  "type": "range",
			  "id": "section_padding_top_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Top",
			  "unit": "px",
			  "default": 0
			},
			{
			  "type": "range",
			  "id": "section_padding_bottom_xs",
			  "min": 0,
			  "max": 150,
			  "step": 5,
			  "label": "Padding Bottom",
			  "unit": "px",
			  "default": 0
			}
          ]
       },
	   {
          "type": "section_background",
          "name": "Section Background",
		  "limit": 1,
          "settings": [
            {
			  "type": "image_picker",
			  "id": "section_bg_image",
			  "label": "BG Image"
			},
			{
			  "type": "color",
			  "id": "section_bg_color",
			  "label": "BG Color",
			  "default": "#ffffff"
			}
          ]
       }
	],
	"presets": [
		{
		  "name": "Brand Logo",
		  "category": "9. brand logo",
		  "blocks":[
				{
					"type": "brand_logo"
				},
				{
					"type": "brand_logo"
				},
				{
					"type": "brand_logo"
				},
				{
					"type": "brand_logo"
				},
				{
					"type": "brand_logo"
				},
				{
					"type": "brand_logo"
				}
			]
		}
	]
  }
{% endschema %}

