<!-- Slider Start -->
  {% if settings.countdown_style_handle == 'countdown_style_1' %}
  <div class="comming-soon-area-2 comming-soon-white height-100vh d-flex align-items-center bg-img overlay
       {% unless settings.full_page_bg_image %}gradient-bg{% endunless %}" 
       {% if settings.full_page_bg_image %}
       style="background-image: url({{ settings.full_page_bg_image | img_url: 'master' }});"
       {% endif %}>
    <div class="container">
      <div class="row">
        <div class="col-lg-10 ml-auto mr-auto">
          <div class="comming-soon-wrap text-center">
            {%- if settings.heading_enable -%}
            <div class="comming-soon-top">
              {%- if settings.password_logo -%}
              <div class="logo">
                <a href="/">
                  <img src="{{ settings.password_logo | img_url: 'medium' }}" alt="">
                </a>
              </div>
              {%- endif -%}
              {%- if settings.comming_soon_title != '' -%}
              <h3>{{ settings.comming_soon_title }}</h3>
              {%- endif -%}
              {% if settings.comming_soon_content != '' %}
              <p>{{ settings.comming_soon_content }}</p>
              {%- endif -%}
            </div>
            {%- endif -%}
            {%- if settings.countdown_enable -%}
            <div class="DateCountdown" data-date="{{ settings.opening_date }} 00:00:00"></div>
            {%- endif -%}
          </div>	
        </div>
      </div>
      {%- if settings.subscribe_field_enable -%}
      <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-10 ml-auto mr-auto">
          <div class="subscribe-area subscribe-style-2 mt-80 mtxs-50 text-center">
            {%- if settings.subscribe_title != '' -%}
            <h4>{{ settings.subscribe_title }}</h4>
            {%- endif -%}
            <div id="mc_embed_signup" class="subscribe-form">
              <form action="{{ settings.newsletter_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll" class="mc-form">
                  <input type="email" value="" name="EMAIL" class="email" placeholder="{{ settings.email_placeholder_title }}" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="{{ settings.subscribe_button_title }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {%- endif -%}

      {%- if settings.store_password_enable -%}
      <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-10 ml-auto mr-auto">
          <div class="subscribe-area subscribe-style-2 mt-80 mtxs-50 text-center">
            {%- if shop.password_message and shop.password_message != '' -%}
            <h4>{{ shop.password_message }}</h4>
            {%- else -%}
            <h4>Visit your store</h4>
            {%- endif -%}
            <div id="mc_embed_signup" class="subscribe-form">
              {% form 'storefront_password' %}
              <input class="email" type='password' name='password' id='password' placeholder="{{ settings.password_placeholder_title }}" autofocus> 
              <div class="clear"><input class="button" name="commit" type="submit" value="Enter"></div>           
              {{ form.errors | default_errors }}
              {% endform %}
            </div>
          </div>
          {%- if settings.password_action_field_enable -%}
          <div id='footer'>
            <div id='owner'>Are you the store owner? <a href="/admin">Log in here</a> or <a href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a></div>
            <div id='powered'>
              This store is powered by <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify" rel="nofollow">Shopify</a>
            </div>
          </div>
          {%- endif -%}
        </div>
      </div>
      {%- endif -%}
    </div>
  </div>
  {%- endif -%}
  
  <!-- Slider Start -->
  {% if settings.countdown_style_handle == 'countdown_style_2' %}
  <div class="comming-soon-area-2 comming-soon-white height-100vh d-flex align-items-center bg-img overlay
       {% unless settings.full_page_bg_image %}gradient-bg{% endunless %}" 
       {% if settings.full_page_bg_image %}
       style="background-image: url({{ settings.full_page_bg_image | img_url: 'master' }});"
       {% endif %}>
    <div class="container">
      <div class="row">
        <div class="col-xl-8 col-lg-10 ml-auto mr-auto">
          <div class="comming-soon-wrap text-center">
            {%- if settings.heading_enable -%}
            <div class="comming-soon-top">
              {%- if settings.password_logo -%}
              <div class="logo">
                <a href="/">
                  <img src="{{ settings.password_logo | img_url: 'medium' }}" alt="">
                </a>
              </div>
              {%- endif -%}
              {%- if settings.comming_soon_title != '' -%}
              <h3>{{ settings.comming_soon_title }}</h3>
              {%- endif -%}
              {% if settings.comming_soon_content != '' %}
              <p>{{ settings.comming_soon_content }}</p>
              {%- endif -%}
            </div>
            {%- endif -%}
            {%- if settings.countdown_enable -%}
            <div class="DateCountdownTwo" data-date="{{ settings.opening_date }} 00:00:00"></div>
            {%- endif -%}
          </div>	
        </div>
      </div>
      {%- if settings.subscribe_field_enable -%}
      <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-10 ml-auto mr-auto">
          <div class="subscribe-area subscribe-style-2 mt-80 mtxs-50 text-center">
            {%- if settings.subscribe_title != '' -%}
            <h4>{{ settings.subscribe_title }}</h4>
            {%- endif -%}
            <div id="mc_embed_signup" class="subscribe-form">
              <form action="{{ settings.newsletter_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                <div id="mc_embed_signup_scroll" class="mc-form">
                  <input type="email" value="" name="EMAIL" class="email" placeholder="{{ settings.email_placeholder_title }}" required>
                  <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                  <div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                  <div class="clear"><input type="submit" value="{{ settings.subscribe_button_title }}" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      {%- endif -%}

      {%- if settings.store_password_enable -%}
      <div class="row">
        <div class="col-xl-6 col-lg-8 col-md-10 ml-auto mr-auto">
          <div class="subscribe-area subscribe-style-2 mt-80 mtxs-50 text-center">
            {%- if shop.password_message and shop.password_message != '' -%}
            <h4>{{ shop.password_message }}</h4>
            {%- else -%}
            <h4>Visit your store</h4>
            {%- endif -%}
            <div id="mc_embed_signup" class="subscribe-form">
              {% form 'storefront_password' %}
              <input class="email" type='password' name='password' id='password' placeholder="{{ settings.password_placeholder_title }}" autofocus> 
              <div class="clear"><input class="button" name="commit" type="submit" value="Enter"></div>           
              {{ form.errors | default_errors }}
              {% endform %}
            </div>
          </div>
          {%- if settings.password_action_field_enable -%}
          <div id='footer'>
            <div id='owner'>Are you the store owner? <a href="/admin">Log in here</a> or <a href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a></div>
            <div id='powered'>
              This store is powered by <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify" rel="nofollow">Shopify</a>
            </div>
          </div>
          {%- endif -%}
        </div>
      </div>
      {%- endif -%}
    </div>
  </div>
  {%- endif -%}
  
  {% if settings.countdown_style_handle == 'countdown_style_3' %}
  <!--coming soon area start-->
    <div class="coming_soon_area js-ripples {% unless settings.full_page_bg_image %}gradient-bg{% endunless %}" 
       {% if settings.full_page_bg_image %}
       style="background-image: url({{ settings.full_page_bg_image | img_url: 'master' }});"
       {% endif %}>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="coming_soon_container">
                      	{%- if settings.heading_enable -%}
                      	{%- if settings.password_logo -%}
                        <div class="coming_soon_logo text-center">
                            <a href="#"><img src="{{ settings.password_logo | img_url: 'medium' }}" alt=""></a>
                        </div>
						{%- endif -%}
                      
                        <div class="coming_soon_title">
                          	{%- if settings.comming_soon_title != '' -%}
                            <h2 class="title">{{ settings.comming_soon_title }}</h2>
                          	{%- endif -%}
                          	{% if settings.comming_soon_content != '' %}
                            <p>{{ settings.comming_soon_content }}</p>
                          	{%- endif -%}
                        </div>
                      	{%- endif -%}
						{%- if settings.countdown_enable -%}
                        <div class="coming_soon_timing">
                            <div data-countdown="{{ settings.opening_date }}"></div>
                        </div>
                      	{%- endif -%}
                      	{%- if settings.subscribe_field_enable -%}
                        <div class="coming_soon_newsletter">
                          	{%- if settings.subscribe_title != '' -%}
                            <h3>{{ settings.subscribe_title }}</h3>
                          	{%- endif -%}
                            <div id="mc_embed_signup" class="subscribe_form">
                                <form action="{{ settings.newsletter_action }}" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                    <div id="mc_embed_signup_scroll" class="mc-form">
                                        <input id="mc-email" type="email" value="" name="EMAIL" class="email" placeholder="{{ settings.email_placeholder_title }}" required>
                                  		<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                  		<div class="mc-news" aria-hidden="true"><input type="text" name="b_6bbb9b6f5827bd842d9640c82_05d85f18ef" tabindex="-1" value=""></div>
                                        <button id="mc-embedded-subscribe"  type="submit"  name="subscribe">{{ settings.subscribe_button_title }}</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                      	{%- endif -%}

                        {%- if settings.store_password_enable -%}
                        <div class="row password-area">
                          <div class="col-xl-6 col-lg-8 col-md-10 ml-auto mr-auto">
                            <div class="subscribe-area subscribe-style-2 mt-80 mtxs-50 text-center">
                              {%- if shop.password_message and shop.password_message != '' -%}
                              <h4>{{ shop.password_message }}</h4>
                              {%- else -%}
                              <h4>Visit your store</h4>
                              {%- endif -%}
                              <div id="mc_embed_signup" class="subscribe-form">
                                {% form 'storefront_password' %}
                                <input class="email" type='password' name='password' id='password' placeholder="{{ settings.password_placeholder_title }}" autofocus> 
                                <div class="clear"><input class="button" name="commit" type="submit" value="Enter"></div>           
                                {{ form.errors | default_errors }}
                                {% endform %}
                              </div>
                            </div>
                            {%- if settings.password_action_field_enable -%}
                            <div id='footer'>
                              <div id='owner'>Are you the store owner? <a href="/admin">Log in here</a> or <a href="/admin/online_store/preferences?tutorial=unlock">change your password settings</a></div>
                              <div id='powered'>
                                This store is powered by <a href="//www.shopify.com" target="_blank" title="Create your own online store with Shopify" rel="nofollow">Shopify</a>
                              </div>
                            </div>
                            {%- endif -%}
                          </div>
                        </div>
                        {%- endif -%}
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--coming soon area end-->
  {% endif %}