{% layout none %}
<!DOCTYPE html>
<html>

<head>
  <!-- Basic and Helper page needs -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta name="theme-color" content="{{ settings.color_primary }}">
  <link rel="canonical" href="{{ canonical_url }}">

  {%- if settings.favicon != blank -%}
  <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png" />
  {%- endif -%}

  <!-- Title and description -->
  {% capture seo_title %}
  {{ page_title }}
  {% if current_tags %}
  {%- assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
  {% endif %}
  {% if current_page != 1 %}
  &ndash; {{ 'general.meta.page' | t: page: current_page }}
  {% endif %}
  {% unless page_title contains shop.name %}
  &ndash; {{ shop.name }}
  {% endunless %}
  {% endcapture %}
  <title>{{ seo_title }}</title>

  {%- if page_description -%}
  <meta name="description" content="{{ page_description | escape }}">
  {%- endif -%}
  
  {{ content_for_header }}
  
  <!-- Remove this link -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  {{ 'password-plugin.css' | asset_url | stylesheet_tag }}
  {{ 'password-style.css' | asset_url | stylesheet_tag }}
  {{ 'password-responsive.css' | asset_url | stylesheet_tag }}
  
  
  <style type="text/css">
    ul, ol {
      margin-bottom: 13px;
      margin-left: 15px;
    }
    ol {
      margin-left: 25px;
    }
    #footer {
      margin-top: 15px;
      font-size: 13px;
      color: #ffffff;
      text-shadow: 0 1px rgba(255,255,255,0.4);
      text-align: center;
      position: relative;
      z-index: 99;
    }
    #powered {
      color: #ffffff;
      display: block;
      margin-top: 15px;
    }

    #powered a {
      background-repeat: no-repeat;
      background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAQCAYAAADJViUEAAACl0lEQVR4AW2RS2jcdRSFv3v/j5nJOBnbJCba0DQ2qU1aqw0oOqB0oxbB564gFLvothvBlWQjuJBCwcfOhYouBF2ILlMsFKWSIopFFNNSkyxaqxPzmJn/43evmUVpFv3gu9zNgQNHuAsfnn/2tLufcHgI9E3gU+6CvL/wHDsR/A3EDwiy6HAMmBbxsze+a30BGDuQ+fl5brP76Uv7I7GXFTbMfVTQKyL+tigzS9ey9fWOvxaJXQTaAPHN0QVuMyq14+Ycd5EN8FcQQ1QA2Owy2F4LXw/tilZ0WGaAzViGI2ZHKlO4f4xErTJsspW1EVEiTRisDeMugCMIvYzx5rruAX7XZF3B/flI4lY3b6OS0Jo6zUtH3+WJB0/hGEUoMAONIAQnTayxLXH/CLKvV25QTZq8OneOseYMANfTXfy0/BkeKpiBCAAUBU8Ci/H2g+OjWbHJ45Mn6Qcv/PEeW9mtbf8BDJUUsx4i9CUrbApAJw/URsR9QkTZXd8LgJtx/rezXP37Io3qfQRzzB1BKEsH9B5QNAphjyN7BeHPGxcAOHbwDCdbnxNrhcI6uDkh3Klt5nMDDZ1Q7++p+kA1GeSHpY/48vIZAB4ef5HJkRbdfA1zcHdEQFUIwafzzPepIuO9/L/o/uZhXnj0Hda6K2z0bgKQRnXcA2bgDgAIFAUDsXotdnx/GXrU0ub2NK/3BaDdWWa5fZlq0qDXcXZkcRArORqDHqpXhrl663u+/eUtDo49Q1Zu8eO1T+jk/3JvfQizHBzgToO8sMdicf9AJFpy84krq9/M/rzy1bS4RNV0kHo6BBghQBkcd4hjQRWynJqcOvcUO5l7pDGmhMPudgQ4lCZ65K/VfPb6arlVH5AFVX6tVHUxmF/6H+vwKe+hBs8sAAAAAElFTkSuQmCC);
      padding-left: 21px;
      text-decoration: none;
    }
    #powered a:hover {
      text-decoration: underline;
    }
    .errors {
      padding: 4px 5px;
      font-size: 15px;
      color: #7e1412;
      display: block;
      margin-bottom: 15px;
    }
    .errors ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
    .center {
      text-align: center;
      display: block;
      font-size: 17px;
    }
    .overlay::before {
      background-color: {{ settings.password_overlay_color }};
      opacity: {{ settings.password_overlay_color_opacity }};
    }
    
    
    /* 27. coming soon css here */
    .coming_soon_area {
      height: 100vh;
      background-repeat: no-repeat;
      background-attachment: scroll;
      background-position: center center;
      background-size: cover;
      background-image: url(../images/coming-soon-bg/coming-soon.jpg);
      position: relative;
      display: flex;
      align-items: center;
    }
    .coming_soon_area::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      background: #000;
      opacity: 0.15;
    }

    .coming_soon_title {
      text-align: center;
      margin-bottom: 40px;
    }
    @media only screen and (max-width: 767px) {
      .coming_soon_title {
        margin-bottom: 36px;
      }
    }
    .coming_soon_title h2, .coming_soon_title .h2 {
      font-size: 37px;
      text-transform: capitalize;
      color: #fff;
      font-weight: 600;
      margin-bottom: 15px;
    }
    @media only screen and (max-width: 767px) {
      .coming_soon_title h2, .coming_soon_title .h2 {
        font-size: 22px;
        margin-bottom: 11px;
      }
    }
    .coming_soon_title p {
      color: #fff;
      font-size: 16px;
      max-width: 730px;
      margin: 0 auto;
      line-height: 26px;
    }
    @media only screen and (max-width: 575px) {
      .coming_soon_title p {
        font-size: 14px;
      }
    }

    .coming_soon_timing {
      text-align: center;
      margin: 57px 0 42px;
    }
    @media only screen and (min-width: 768px) and (max-width: 991px) {
      .coming_soon_timing {
        margin: 50px 0 30px;
      }
    }
    @media only screen and (max-width: 767px) {
      .coming_soon_timing {
        margin: 34px 0 22px;
      }
    }
    .coming_soon_timing span.cdown {
      display: inline-block;
      margin-right: 35px;
      background: inherit;
      font-size: 26px;
      font-weight: 600;
      line-height: 1;
      color: #fff;
      margin-bottom: 8px;
      width: 60px;
      height: 40px;
      line-height: 38px;
      border: 1px solid #ebebeb;
      border-radius: 4px;
      padding-top: 0;
      font-family: "Open Sans", sans-serif;
    }
    @media only screen and (max-width: 575px) {
      .coming_soon_timing span.cdown {
        margin-right: 20px;
        width: 55px;
        font-size: 20px;
      }
    }
    .coming_soon_timing span.cdown:last-child {
      margin-right: 0;
    }
    .coming_soon_timing span p {
      font-size: 14px;
      text-transform: capitalize;
      color: #fff;
    }

    .coming_soon_newsletter {
      text-align: center;
    }
    .coming_soon_newsletter .subscribe_form {
      margin-top: 0;
    }
    .coming_soon_newsletter .subscribe_form form {
      margin: 0 auto;
      width: 600px;
      background: inherit;
      border: 1px solid #efefef;
      border-radius: 50px;
      position: relative;
      text-align: left;
    }
    @media only screen and (max-width: 767px) {
      .coming_soon_newsletter .subscribe_form form {
        width: 100%;
      }
    }
    .coming_soon_newsletter .subscribe_form form input::-webkit-input-placeholder {
      /* Chrome/Opera/Safari */
      color: #fff;
    }
    .coming_soon_newsletter .subscribe_form form input::-moz-placeholder {
      /* Firefox 19+ */
      color: #fff;
    }
    .coming_soon_newsletter .subscribe_form form input:-ms-input-placeholder {
      /* IE 10+ */
      color: #fff;
    }
    .coming_soon_newsletter .subscribe_form form input:-moz-placeholder {
      /* Firefox 18- */
      color: #fff;
    }
    .coming_soon_newsletter .subscribe_form form input {
      color: #fff;
      font-size: 16px;
      padding: 0 140px 0 28px;
      background: inherit;
      height: 48px;
      border: 0;
      width: 100%;
    }
    @media only screen and (max-width: 767px) {
      .coming_soon_newsletter .subscribe_form form input {
        padding: 0 106px 0 18px;
        height: 45px;
      }
    }
    .coming_soon_newsletter .subscribe_form form button {
      font-size: 16px;
      text-transform: uppercase;
      font-weight: 700;
      background: inherit;
      color: #fff;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -24px;
      width: 120px;
      height: 48px;
      border: none;
    }
    .coming_soon_newsletter .subscribe_form form button:hover {
      color: #ff7004;
    }
    .coming_soon_newsletter .subscribe_form form button::before {
      content: "";
      background: #fff;
      width: 2px;
      position: absolute;
      bottom: 8px;
      top: 8px;
      left: 0;
      height: 30px;
    }
    @media only screen and (max-width: 767px) {
      .coming_soon_newsletter .subscribe_form form button {
        font-size: 13px;
      }
    }
    .coming_soon_newsletter h3, .coming_soon_newsletter .h3 {
      font-size: 16px;
      color: #fff;
      font-weight: 700;
      margin-bottom: 15px;
      letter-spacing: 2px;
      text-transform: capitalize;
    }
    @media only screen and (max-width: 767px) {
      .coming_soon_newsletter h3, .coming_soon_newsletter .h3 {
        letter-spacing: 1px;
      }
    }
    .coming_soon_newsletter .mailchimp-error {
      text-align: center;
      color: #fff;
    }
    .coming_soon_newsletter .mailchimp-success {
      text-align: center;
      color: #fff;
    }

    .coming_soon_logo {
      margin-bottom: 32px;
    }
    @media only screen and (max-width: 575px) {
      .coming_soon_logo {
        margin-bottom: 25px;
      }
    }

    .coming_soon_container {
      position: relative;
    }

    .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
      font-family: Raleway,sans-serif;
      color: #212121;
    }
    .subscribe-form form input {
      height: 50px;
    }
    .password-area .col-xl-6 {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
      flex: 0 0 55%;
      max-width: 55%;
    }
    
    
    
    
  </style>
</head>
<body>
  
  <main id="MainContent" class="password-main">
    {{ content_for_layout }}
  </main>

  <script type="text/javascript">
    document.getElementById('password').focus();
  </script>
  
  <style>
    .gradient-bg {
      background: rgba(0, 0, 0, 0) linear-gradient(to bottom, {{ settings.gradiant_bg_color_1 }} 0%, {{ settings.gradiant_bg_color_2 }} 100%) repeat scroll 0 0;
    }
  </style>

  <!-- Your update file include here -->
  <script src="{{ 'modernizr-3.5.0.min.js' | asset_url }}"></script>
  <script src="{{ '//ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js' }}"></script>

  <!-- Remove this js link -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

  <!-- Your main.js file upload this file -->
  <script src="{{ 'password-plugin.js' | asset_url }}"></script>
  <script src="{{ 'countdown.js' | asset_url }}"></script>
  <script src="{{ 'password-theme.js' | asset_url }}"></script>

</body>
</html>
